{% extends 'base.html' %}
{% load static %}
{% block title %} Story 7 {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/new-style.css' %}">
<section class="normal">
  <div class="section-title"> ACCORDION </div>

  <div class="accordion-container">
    <div id="number1" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Number 1 
        <div>
          <button class="up"> /\ </button>
          <button class="down"> \/ </button>
        </div>
      </a>

      <div class="content">
        <p> Hello </p>
      </div>
    </div>

    <div id="number2" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Number 2
        <div>
          <button class="up"> /\ </button>
          <button class="down"> \/ </button>
        </div>
      </a>

      <div class="content">
        <p> Приве </p>
      </div>
    </div>
    
    <div id="number3" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Number 3
        <div>
          <button class="up"> /\ </button>
          <button class="down"> \/ </button>
        </div>
      </a>

      <div class="content">
        <p> こんにちは </p>
      </div>
    </div>
    
    <div id="number4" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Number 4
        <div>
          <button class="up"> /\ </button>
          <button class="down"> \/ </button>
        </div>
      </a>

      <div class="content">
        <p> 你好 </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}  <script src="{% static 'js/accordion.js' %}"></script> {% endblock %}