{% extends 'base.html' %}
{% load static %}

{% block title %}
Story8:Books
{% endblock title %}

{% block meta%}
<script src="{% static 'js/story8.js' %}"></script>
{% endblock meta%}

{% block content %}
<div class="container">
  <input class="form-control mb-4" id="tableSearch" type="text"
    placeholder="Type something to search list items">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Publisher</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>Throne of Games</td>
        <td>Sometimes</td>
        <td>It's a book</td>
      </tr>
      <tr>
        <td>The Art of Debating by Shen Bapiro</td>
        <td>Daily Yes</td>
        <td>It's a book</td>
      </tr>
      <tr>
        <td>Solo</td>
        <td>Dooley</td>
        <td>It's a book</td>
      </tr>
      <tr>
        <td>Star Star: the Force</td>
        <td>Ravendale</td>
        <td>It's a book</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
