/*ACCORDION*/
.accordion-container{
  position: relative;
  max-width: 60vw;
  height: auto;
  margin: 10px auto;
}

.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ECECEC;
}
.set > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a.active {
  background-color:#008081;
  color: #fff;
}
.content {
  background-color: #fff;
  border: 1px solid #ddd;
  display:none;
}
.content p {
  padding: 10px 15px;
  margin: 0;
  color: #333;
}

button.up, button.down {
  background-color:#008081;
  color: #fff;
  font-size:18px;
}

.active .up, .active .down {
  background-color: #fff;
  color: #555;
}